.module {
    transition: 0.5s;
    filter: blur(2px);
}

.card {
    filter: blur(2px) invert(1);
    transition: 0.5s;
}

.card:hover {
    transform: scale(1.007);
    filter: blur(0px) invert(0);
}

.module:hover {
    transform: scale(1.007);
    filter: blur(0px) invert(0);
    cursor: pointer;
}

.tagBar {
    transition:1s;
}

.scroll {
    overflow-x: auto;
    white-space: nowrap;
}

.sticky {
    position: fixed;
    border-radius: 20px;
    top: 15px;
    width: 98.35%;
    opacity: 1;
    z-index: 50;
    background-color: #c2bebeb0;
    /* background: linear-gradient(to right, #00000000, #c2bebeeb, #00000000) */
}

.articleTitle {
    font-size: 2rem;
}