.hamburger {
    position: fixed;
    bottom: 50px;
    right: 30px;
    height: 10vh;
    transform: rotate(23deg);
    transition: 0.2s;
    z-index: 999;
}

.hamburger:hover {
    transform: rotate(23deg) scale(1.05);
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    .hamburger {
        top: 70px;
        right: 50px;
        height: 10vh;
    }
}

.modal {
    background-color: black;
    position: fixed;
    padding-top: 15px;
    padding-left: 15px;
    top: 0px;
    left: 0px;
    height: 100%;
    z-index: 60;
    transition: 0.2s;
    z-index: 500;
}