.tagBar {
    transition:1s;
}

.scroll {
    overflow-x: auto;
    white-space: nowrap;
}

.sticky {
    position: fixed;
    border-radius: 20px;
    top: 15px;
    width: 98.35%;
    opacity: 1;
    z-index: 50;
    background-color: #c2bebeeb;
    /* background: linear-gradient(to right, #00000000, #c2bebeeb, #00000000) */
}