@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

.ibmFont {
    font-family: 'IBM Plex Mono', monospace;
}

.header h1{
    font-size: 7rem;
    margin-top: -16vh;
}

.screenBig {
    display: none
}

.screenWide {
    display: none
}

.ticker {
    width: 98.35%;
    background-color: #c2bebeb0;;
    padding: 10px;
    border-radius: 10px;
    position: fixed;
    bottom: 15px;
    z-index: 50;
    display: none;
}

.ticker a {
    color: #d9ff00;
}

.banner {
    transition: 0.2s;
}

.banner:hover {
    transform: scale(1.007);
}

.stick {
    padding-top: 220px;
}

.home {
    padding-bottom: 60px;
}

.title {
    position: fixed;
    font-size: 20rem;
    top: 1vh;
    right: 50px;
    height: 16vh;
    z-index: -200;
    filter: blur(15px);
    transition: 5s;
}

@media screen and (min-width: 768px) and (min-height: 450px) {
    .screenBig {
        display: block
    }
    .screenSmall {
        display: none
    }
}

@media screen and (min-width: 1000px) {
    .screenWide {
        display: block
    }
}

.moduleTitle {
    font-size: 2rem;
    line-height: 2.8rem!important;
    letter-spacing: -0.15rem !important;
}

.fontTitle {
    font-size: 2rem;
}
.fontTitle2 {
    font-size: 1.2rem;
}
.fontSubtitle {
    font-size: 1.2rem;
}

.fontBody {
    font-size: 1rem;
    opacity: 0.8;
}

@media screen and (min-width: 700px) {
    .fontTitle {
        font-size: 3rem;
    }
    .fontTitle2 {
        font-size: 1.2rem;
    }
    .fontSubtitle {
        font-size: 1.2rem;
    }

    .fontBody {
        font-size: 1.2rem;
    }

    .ticker {
        display: block;
    }
}

@media screen and (min-width: 1000px) {
    .fontTitle {
        font-size: 4rem;
    }
    .fontTitle2 {
        font-size: 2rem;
    }
    .fontSubtitle {
        font-size: 1.35rem;
    }
}

@media screen and (min-width: 1300px) {
    .moduleTitle {
        font-size: 3rem;
        line-height: 3.5rem;
    }
}