.header h1{
    font-size: 7rem;
    margin-top: -16vh;
}

.screenBig {
    display: none
}

.ticker {
    width: 98.35%;
    background-color: #c2bebeeb;
    padding: 10px;
    border-radius: 20px;
    position: fixed;
    bottom: 15px;
    z-index: 50;
}

.ticker a {
    color: #00021A;
}

.banner {
    transition: 0.2s;
}

.banner:hover {
    transform: scale(1.007);
}

.stick {
    padding-top: 220px;
}

.home {
    padding-bottom: 80px;
}

.title {
    position: fixed;
    font-size: 20rem;
    top: 1vh;
    right: 50px;
    height: 16vh;
    z-index: -200;
    filter: blur(15px);
    transition: 5s;
}

@media screen and (min-width: 768px) and (min-height: 450px) {
    .screenBig {
        display: block
    }
    .screenSmall {
        display: none
    }
}

.moduleTitle {
    font-size: 2rem;
}

.fontTitle {
    font-size: 2rem;
}

.fontSubtitle {
    font-size: 1.5rem;
}

.fontBody {
    font-size: 0.8rem;
    opacity: 0.8;
}

@media screen and (min-width: 700px) {
    .fontTitle {
        font-size: 3rem;
    }

    .fontSubtitle {
        font-size: 1.75rem;
    }

    .fontBody {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1000px) {
    .fontTitle {
        font-size: 4rem;
    }

    .fontSubtitle {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1300px) {
    .moduleTitle {
        font-size: 3rem;
        line-height: 3.5rem;
    }
}