.header h1{
    font-size: 7rem;
    margin-top: -16vh;
}

.ticker {
    width: 98.35%;
    font-size: 2rem;
    /* background-color: #c2bebee6; */
    background-color: #c2bebeeb;
    /* background: linear-gradient(to right, #00000000, #c2bebeeb, #00000000); */
    padding: 10px;
    border-radius: 20px;
    position: fixed;
    bottom: 15px;
    z-index: 50;
}

.ticker a {
    color: #00021A;
}

.banner {
    transition: 0.2s;
}

.banner:hover {
    transform: scale(1.007);
}

.stick {
    padding-top: 220px;
}

.home {
    padding-bottom: 80px;
}

.title {
    position: fixed;
    font-size: 20rem;
    top: 1vh;
    right: 50px;
    height: 16vh;
    z-index: -200;
    filter: blur(15px);
    transition: 5s;
}