body {
  background: linear-gradient(217deg, #010328, rgba(255, 0, 0, 0) 100%),
    linear-gradient(127deg, #101132, rgba(0, 255, 0, 0) 100%),
    linear-gradient(336deg, #353766, rgba(0, 0, 255, 0) 20.71%),
    linear-gradient(50deg, #d3ec17, rgba(0, 0, 255, 0) 70.71%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  min-height: 100%;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 0.04rem;
  color: #ffffff;
}

a {
  color: #FF5C00;
  opacity: 0.7;
  transition: 0.3s;
}

a:hover {
  color: #FF5C00;
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}