body {
  /* background: linear-gradient(217deg, #00021a, #ff000000 100%),
    linear-gradient(127deg, #101132, #00ff0000 100%),
    linear-gradient(336deg, #353766, #0000ff00 20.71%),
    linear-gradient(50deg, #d3ec17, #0000ff00 70.71%); */
    background: linear-gradient(217deg, #00021a, #ff000000 100%),
    linear-gradient(127deg, #101132, #00ff0000 100%),
    linear-gradient(336deg, #000000, #0000ff00 40.71%),
    linear-gradient(50deg, #d3ec17, #d3ec17 70.71%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  min-height: 100%;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: -0.02rem;
  color: #ffffff;
}

a {
  color: #FF5C00;
  opacity: 0.7;
  transition: 0.3s;
}

a:hover {
  color: #FF5C00;
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}